@font-face {
  font-family: fontX;
  src: url("../assets/KaushanScriptX.ttf"); }

* {
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s; }

html {
  scroll-behavior: smooth; }

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  font-family: fontX;
  height: 100vh;
  text-align: center; }

.flexCenterX, .pageCenterX {
  display: flex;
  justify-content: center;
  align-items: center; }

.gear {
  position: relative;
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 50%;
  margin: 30px auto;
  animation: spin 4s linear infinite; }

.center {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 60px;
  height: 60px;
  z-index: 3;
  background: #000;
  border-radius: 50%; }

.tooth {
  position: absolute;
  top: -10px;
  left: 40px;
  width: 20px;
  height: 120px;
  background: #fff; }

.tooth:nth-child(2) {
  transform: rotate(45deg); }

.tooth:nth-child(3) {
  transform: rotate(90deg); }

.tooth:nth-child(4) {
  transform: rotate(135deg); }

@keyframes spin {
  to {
    transform: rotate(360deg); } }
